<nav>
            <a href="/" id="logoLink" class="logo-link">
                <svg class="logo-svg" width="53" height="30" viewBox="0 0 116 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M-0.000152588 65.653L60.7073 1.52588e-05H64.2061V65.653H53.9886V23.3433L17.5078 65.653H-0.000152588Z" fill="white"/>
                    <rect x="76.6035" y="13.1301" width="10.9434" height="15.3191" fill="#FA51A2"/>
                    <rect x="105.049" y="13.1301" width="10.9434" height="15.3191" fill="#A609F0"/>
                    <rect x="76.6001" y="50.3345" width="10.9434" height="15.3191" fill="#7B46F8"/>
                    <rect x="105.057" y="50.3345" width="10.9434" height="15.3191" fill="#BDF522"/>
                </svg>
            </a>
            <div class="nav-content">
                <a href="/profile" class="link">
                    <svg class="light_svg" width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.61621 14.4033H11.3838C15.3137 14.4034 18.4998 17.5895 18.5 21.5195V21.6602C16.1165 23.4037 13.1808 24.4336 10 24.4336C6.81935 24.4336 3.88335 23.4033 1.5 21.6602V21.5195C1.50018 17.5894 4.68628 14.4033 8.61621 14.4033Z" stroke="#F3F7F6" stroke-width="3"/>
                        <path d="M10.001 1.5C12.0926 1.5 13.7889 3.19552 13.7891 5.28711C13.7891 7.37881 12.0927 9.0752 10.001 9.0752C7.90939 9.07506 6.21387 7.37873 6.21387 5.28711C6.214 3.19561 7.90947 1.50014 10.001 1.5Z" stroke="#F3F7F6" stroke-width="3"/>
                    </svg>
                    <svg class="dark_svg" width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.61621 14.4033H11.3838C15.3137 14.4034 18.4998 17.5895 18.5 21.5195V21.6602C16.1165 23.4037 13.1808 24.4336 10 24.4336C6.81935 24.4336 3.88335 23.4033 1.5 21.6602V21.5195C1.50018 17.5894 4.68628 14.4033 8.61621 14.4033Z" stroke="#292929" stroke-width="3"/>
                        <path d="M10.001 1.5C12.0926 1.5 13.7889 3.19552 13.7891 5.28711C13.7891 7.37881 12.0927 9.0752 10.001 9.0752C7.90939 9.07506 6.21387 7.37873 6.21387 5.28711C6.214 3.19561 7.90947 1.50014 10.001 1.5Z" stroke="#292929" stroke-width="3"/>
                    </svg>
                    <p class="link_p">Профиль</p>
                </a>
                <a href="/lenta" class="link">
                    <svg class="light_svg" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.82384 3.49662C8.34673 3.33153 6.82026 3.33153 5.34315 3.49662C4.39287 3.60283 3.62446 4.35114 3.51239 5.30928C3.33571 6.8199 3.33571 8.34597 3.51239 9.85659C3.62446 10.8147 4.39287 11.563 5.34315 11.6692C6.82026 11.8343 8.34673 11.8343 9.82384 11.6692C10.7741 11.563 11.5425 10.8147 11.6546 9.85659C11.8313 8.34597 11.8313 6.8199 11.6546 5.30928C11.5425 4.35114 10.7741 3.60283 9.82384 3.49662Z" fill="#F3F7F6"/>
                        <path d="M9.82384 14.33C8.34673 14.1649 6.82026 14.1649 5.34315 14.33C4.39287 14.4362 3.62446 15.1845 3.51239 16.1426C3.33571 17.6532 3.33571 19.1793 3.51239 20.6899C3.62446 21.6481 4.39287 22.3964 5.34315 22.5026C6.82026 22.6677 8.34673 22.6677 9.82384 22.5026C10.7741 22.3964 11.5425 21.6481 11.6546 20.6899C11.8313 19.1793 11.8313 17.6532 11.6546 16.1426C11.5425 15.1845 10.7741 14.4362 9.82384 14.33Z" fill="#F3F7F6"/>
                        <path d="M20.6572 3.49662C19.1801 3.33153 17.6536 3.33153 16.1765 3.49662C15.2262 3.60283 14.4578 4.35114 14.3457 5.30928C14.1691 6.8199 14.1691 8.34597 14.3457 9.85659C14.4578 10.8147 15.2262 11.563 16.1765 11.6692C17.6536 11.8343 19.1801 11.8343 20.6572 11.6692C21.6075 11.563 22.3759 10.8147 22.4879 9.85659C22.6646 8.34597 22.6646 6.8199 22.4879 5.30928C22.3759 4.35114 21.6075 3.60283 20.6572 3.49662Z" fill="#F3F7F6"/>
                        <path d="M20.6572 14.33C19.1801 14.1649 17.6536 14.1649 16.1765 14.33C15.2262 14.4362 14.4578 15.1845 14.3457 16.1426C14.1691 17.6532 14.1691 19.1793 14.3457 20.6899C14.4578 21.6481 15.2262 22.3964 16.1765 22.5026C17.6536 22.6677 19.1801 22.6677 20.6572 22.5026C21.6075 22.3964 22.3759 21.6481 22.4879 20.6899C22.6646 19.1793 22.6646 17.6532 22.4879 16.1426C22.3759 15.1845 21.6075 14.4362 20.6572 14.33Z" fill="#F3F7F6"/>
                    </svg>
                    <svg class="dark_svg" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.82384 3.49662C8.34673 3.33153 6.82026 3.33153 5.34315 3.49662C4.39287 3.60283 3.62446 4.35114 3.51239 5.30928C3.33571 6.8199 3.33571 8.34597 3.51239 9.85659C3.62446 10.8147 4.39287 11.563 5.34315 11.6692C6.82026 11.8343 8.34673 11.8343 9.82384 11.6692C10.7741 11.563 11.5425 10.8147 11.6546 9.85659C11.8313 8.34597 11.8313 6.8199 11.6546 5.30928C11.5425 4.35114 10.7741 3.60283 9.82384 3.49662Z" fill="#292929"/>
                        <path d="M9.82384 14.33C8.34673 14.1649 6.82026 14.1649 5.34315 14.33C4.39287 14.4362 3.62446 15.1845 3.51239 16.1426C3.33571 17.6532 3.33571 19.1793 3.51239 20.6899C3.62446 21.6481 4.39287 22.3964 5.34315 22.5026C6.82026 22.6677 8.34673 22.6677 9.82384 22.5026C10.7741 22.3964 11.5425 21.6481 11.6546 20.6899C11.8313 19.1793 11.8313 17.6532 11.6546 16.1426C11.5425 15.1845 10.7741 14.4362 9.82384 14.33Z" fill="#292929"/>
                        <path d="M20.6572 3.49662C19.1801 3.33153 17.6536 3.33153 16.1765 3.49662C15.2262 3.60283 14.4578 4.35114 14.3457 5.30928C14.1691 6.8199 14.1691 8.34597 14.3457 9.85659C14.4578 10.8147 15.2262 11.563 16.1765 11.6692C17.6536 11.8343 19.1801 11.8343 20.6572 11.6692C21.6075 11.563 22.3759 10.8147 22.4879 9.85659C22.6646 8.34597 22.6646 6.8199 22.4879 5.30928C22.3759 4.35114 21.6075 3.60283 20.6572 3.49662Z" fill="#292929"/>
                        <path d="M20.6572 14.33C19.1801 14.1649 17.6536 14.1649 16.1765 14.33C15.2262 14.4362 14.4578 15.1845 14.3457 16.1426C14.1691 17.6532 14.1691 19.1793 14.3457 20.6899C14.4578 21.6481 15.2262 22.3964 16.1765 22.5026C17.6536 22.6677 19.1801 22.6677 20.6572 22.5026C21.6075 22.3964 22.3759 21.6481 22.4879 20.6899C22.6646 19.1793 22.6646 17.6532 22.4879 16.1426C22.3759 15.1845 21.6075 14.4362 20.6572 14.33Z" fill="#292929"/>
                    </svg>
                    <p class="link_p">Лента</p>
                </a>
                <a href="/orders" class="link">
                    <svg class="light_svg" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.1473 2.4375C7.20688 2.35727 2.35727 7.20688 2.4375 13.1473C2.51672 18.8444 7.15559 23.4833 12.8527 23.5625C18.7941 23.6438 23.6427 18.7941 23.5615 12.8538C23.4833 7.15559 18.8444 2.51672 13.1473 2.4375ZM12.9604 10.1618C12.9711 10.1009 12.9827 10.04 12.9965 9.97954C13.1247 9.38649 13.4105 8.83898 13.8237 8.39465C14.4782 7.69743 15.406 7.3125 16.4364 7.3125C16.8699 7.31072 17.3004 7.38391 17.709 7.52883C18.2168 7.70965 18.6742 8.0091 19.043 8.40227C19.5855 8.98869 19.9085 9.74476 19.957 10.5422C19.9711 10.7349 19.9711 10.9284 19.957 11.1211C19.9179 11.6673 19.7767 12.2012 19.5406 12.6953C19.5149 12.7491 19.488 12.8025 19.4599 12.8553C19.4035 12.9604 19.3431 13.0635 19.2781 13.163C19.1487 13.3617 19.0021 13.5486 18.8398 13.7216C18.1736 14.4325 17.3205 14.8251 16.4374 14.8251C16.1062 14.8249 15.7774 14.7703 15.4639 14.6636C15.3586 14.6278 15.2552 14.5866 15.1541 14.5402C14.7309 14.3428 14.3502 14.0647 14.0334 13.7216C13.3739 13.0063 12.9796 12.0864 12.9162 11.1155C12.9071 10.9842 12.904 10.8542 12.9071 10.7255C12.911 10.5369 12.9288 10.3488 12.9604 10.1629V10.1618ZM5.35692 11.3979C5.38163 11.0355 5.47106 10.6805 5.62098 10.3497C5.66327 10.2576 5.7104 10.1678 5.76215 10.0806C5.86567 9.90586 5.98812 9.74305 6.12727 9.59512C6.33341 9.37521 6.57343 9.18971 6.83821 9.04567C6.97045 8.9734 7.10815 8.91159 7.25004 8.86082C7.79376 8.67066 8.37832 8.62876 8.9436 8.73946C9.54257 8.85531 10.0896 9.15745 10.5066 9.60274C11.0015 10.1369 11.2804 10.8358 11.2892 11.5639C11.2917 11.6711 11.2892 11.7787 11.2816 11.8879C11.2506 12.306 11.1475 12.7156 10.9769 13.0985C10.8952 13.2829 10.7978 13.4599 10.6859 13.6277C10.4706 13.953 10.1997 14.2378 9.88559 14.4691C9.80942 14.5234 9.7302 14.5742 9.64844 14.625C9.48764 14.7208 9.31749 14.7999 9.14063 14.8611C8.87618 14.9535 8.5981 15.0009 8.31797 15.0013C8.27075 15.0013 8.22352 15.0013 8.1768 14.9972C8.08351 14.9921 7.99059 14.9816 7.89852 14.9657C7.80691 14.9498 7.71622 14.929 7.62684 14.9033C7.49259 14.8645 7.36152 14.8154 7.23481 14.7565C7.19215 14.7367 7.15051 14.7159 7.10887 14.6941C6.19481 14.2122 5.50571 13.2133 5.37063 12.0473C5.36454 11.994 5.35946 11.9407 5.3559 11.8869C5.34444 11.7241 5.34478 11.5606 5.35692 11.3979ZM8.09504 20.4674C6.74297 19.5762 5.65634 18.3367 4.94965 16.8797C4.92657 16.8331 4.92224 16.7794 4.93754 16.7297C4.95285 16.68 4.98662 16.6381 5.03192 16.6126C5.97543 16.0819 7.18047 15.793 8.31899 15.793C9.18227 15.793 9.87797 15.8945 10.4868 16.0916C10.5559 16.1143 10.6175 16.1551 10.6654 16.2098C10.7133 16.2644 10.7457 16.3309 10.7591 16.4024C10.7725 16.4738 10.7665 16.5475 10.7418 16.6158C10.717 16.6841 10.6744 16.7446 10.6184 16.7908C9.43262 17.7557 8.66836 18.9511 8.30934 20.3836C8.30397 20.4055 8.29341 20.4258 8.27854 20.4428C8.26368 20.4598 8.24495 20.4729 8.22394 20.4811C8.20293 20.4893 8.18025 20.4924 8.15782 20.49C8.13538 20.4876 8.11385 20.4798 8.09504 20.4674ZM13 21.9375C11.8567 21.9387 10.7239 21.7193 9.66368 21.2916C9.62035 21.2737 9.58454 21.2413 9.56233 21.2001C9.54012 21.1588 9.53286 21.1111 9.5418 21.0651C9.56211 20.961 9.58446 20.866 9.60426 20.7868C9.96583 19.3431 10.8616 18.1462 12.1941 17.3245C13.3768 16.5958 14.8855 16.1947 16.4354 16.1947C18.0177 16.1947 19.4822 16.5796 20.6746 17.3073C20.7049 17.3263 20.7267 17.3563 20.7354 17.3911C20.744 17.4259 20.7388 17.4626 20.7208 17.4936C19.9345 18.8445 18.8078 19.9657 17.4531 20.7454C16.0984 21.5251 14.5631 21.9361 13 21.9375Z" fill="#F3F7F6" stroke="#F3F7F6" stroke-width="0.0625"/>
                        <path d="M11.2816 11.8853C11.2892 11.7762 11.2918 11.6685 11.2892 11.5613C11.2919 11.668 11.2894 11.776 11.2816 11.8853ZM5.37117 12.0448C5.50625 13.2128 6.19687 14.2096 7.10941 14.6915C6.19484 14.2096 5.50625 13.2107 5.37117 12.0448ZM12.9152 11.1211C12.9061 10.9897 12.903 10.8597 12.9061 10.7311C12.903 10.858 12.9061 10.988 12.9152 11.1211Z" fill="#F3F7F6"/>
                        <path d="M8.17531 14.9947C8.08202 14.9896 7.98911 14.979 7.89703 14.9632M5.76066 10.0806C5.86418 9.90583 5.98663 9.74303 6.12578 9.5951C6.33192 9.37518 6.57194 9.18969 6.83672 9.04565C6.96896 8.97337 7.10666 8.91157 7.24855 8.8608M11.2816 11.8853C11.2506 12.3034 11.1475 12.713 10.9769 13.096C10.8952 13.2803 10.7979 13.4574 10.6859 13.6251C10.4707 13.9504 10.1997 14.2352 9.88562 14.4665C9.80895 14.5234 9.72973 14.5742 9.64797 14.625C9.48717 14.7207 9.31701 14.7999 9.14016 14.8611M11.2816 11.8853C11.2892 11.7762 11.2918 11.6685 11.2892 11.5613C11.2919 11.668 11.2894 11.776 11.2816 11.8853ZM7.62738 14.9007C7.49313 14.862 7.36206 14.8129 7.23535 14.754M12.9152 11.1211C12.9786 12.092 13.3729 13.0118 14.0324 13.7272C14.3493 14.0703 14.7299 14.3483 15.1532 14.5458M12.9152 11.1211C12.9061 10.9897 12.903 10.8597 12.9061 10.7311C12.903 10.858 12.9061 10.988 12.9152 11.1211ZM15.4624 14.6666C15.3571 14.6309 15.2537 14.5897 15.1527 14.5432M12.996 9.98053C13.1242 9.38748 13.41 8.83997 13.8232 8.39564M19.9566 10.5422C19.908 9.74474 19.5851 8.98867 19.0425 8.40225C18.6737 8.00907 18.2163 7.70963 17.7085 7.52881M19.9566 11.1211C19.9175 11.6672 19.7762 12.2012 19.5402 12.6953M12.9061 10.7285C12.91 10.5389 12.928 10.3498 12.9599 10.1628M11.2877 11.5613C11.2789 10.8332 11 10.1343 10.5052 9.60018C10.0881 9.15489 9.54108 8.85275 8.94211 8.73689M5.35645 11.3978C5.38116 11.0355 5.47059 10.6805 5.62051 10.3497C5.6628 10.2576 5.70992 10.1677 5.76168 10.0806M5.37117 12.0448C5.50625 13.2128 6.19687 14.2096 7.10941 14.6915C6.19484 14.2096 5.50625 13.2107 5.37117 12.0448Z" stroke="#F3F7F6" stroke-width="0.0625"/>
                    </svg>
                    <svg class="dark_svg" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.1473 2.4375C7.20688 2.35727 2.35727 7.20688 2.4375 13.1473C2.51672 18.8444 7.15559 23.4833 12.8527 23.5625C18.7941 23.6438 23.6427 18.7941 23.5615 12.8538C23.4833 7.15559 18.8444 2.51672 13.1473 2.4375ZM12.9604 10.1618C12.9711 10.1009 12.9827 10.04 12.9965 9.97954C13.1247 9.38649 13.4105 8.83898 13.8237 8.39465C14.4782 7.69743 15.406 7.3125 16.4364 7.3125C16.8699 7.31072 17.3004 7.38391 17.709 7.52883C18.2168 7.70965 18.6742 8.0091 19.043 8.40227C19.5855 8.98869 19.9085 9.74476 19.957 10.5422C19.9711 10.7349 19.9711 10.9284 19.957 11.1211C19.9179 11.6673 19.7767 12.2012 19.5406 12.6953C19.5149 12.7491 19.488 12.8025 19.4599 12.8553C19.4035 12.9604 19.3431 13.0635 19.2781 13.163C19.1487 13.3617 19.0021 13.5486 18.8398 13.7216C18.1736 14.4325 17.3205 14.8251 16.4374 14.8251C16.1062 14.8249 15.7774 14.7703 15.4639 14.6636C15.3586 14.6278 15.2552 14.5866 15.1541 14.5402C14.7309 14.3428 14.3502 14.0647 14.0334 13.7216C13.3739 13.0063 12.9796 12.0864 12.9162 11.1155C12.9071 10.9842 12.904 10.8542 12.9071 10.7255C12.911 10.5369 12.9288 10.3488 12.9604 10.1629V10.1618ZM5.35692 11.3979C5.38163 11.0355 5.47106 10.6805 5.62098 10.3497C5.66327 10.2576 5.7104 10.1678 5.76215 10.0806C5.86567 9.90586 5.98812 9.74305 6.12727 9.59512C6.33341 9.37521 6.57343 9.18971 6.83821 9.04567C6.97045 8.9734 7.10815 8.91159 7.25004 8.86082C7.79376 8.67066 8.37832 8.62876 8.9436 8.73946C9.54257 8.85531 10.0896 9.15745 10.5066 9.60274C11.0015 10.1369 11.2804 10.8358 11.2892 11.5639C11.2917 11.6711 11.2892 11.7787 11.2816 11.8879C11.2506 12.306 11.1475 12.7156 10.9769 13.0985C10.8952 13.2829 10.7978 13.4599 10.6859 13.6277C10.4706 13.953 10.1997 14.2378 9.88559 14.4691C9.80942 14.5234 9.7302 14.5742 9.64844 14.625C9.48764 14.7208 9.31749 14.7999 9.14063 14.8611C8.87618 14.9535 8.5981 15.0009 8.31797 15.0013C8.27075 15.0013 8.22352 15.0013 8.1768 14.9972C8.08351 14.9921 7.99059 14.9816 7.89852 14.9657C7.80691 14.9498 7.71622 14.929 7.62684 14.9033C7.49259 14.8645 7.36152 14.8154 7.23481 14.7565C7.19215 14.7367 7.15051 14.7159 7.10887 14.6941C6.19481 14.2122 5.50571 13.2133 5.37063 12.0473C5.36454 11.994 5.35946 11.9407 5.3559 11.8869C5.34444 11.7241 5.34478 11.5606 5.35692 11.3979ZM8.09504 20.4674C6.74297 19.5762 5.65634 18.3367 4.94965 16.8797C4.92657 16.8331 4.92224 16.7794 4.93754 16.7297C4.95285 16.68 4.98662 16.6381 5.03192 16.6126C5.97543 16.0819 7.18047 15.793 8.31899 15.793C9.18227 15.793 9.87797 15.8945 10.4868 16.0916C10.5559 16.1143 10.6175 16.1551 10.6654 16.2098C10.7133 16.2644 10.7457 16.3309 10.7591 16.4024C10.7725 16.4738 10.7665 16.5475 10.7418 16.6158C10.717 16.6841 10.6744 16.7446 10.6184 16.7908C9.43262 17.7557 8.66836 18.9511 8.30934 20.3836C8.30397 20.4055 8.29341 20.4258 8.27854 20.4428C8.26368 20.4598 8.24495 20.4729 8.22394 20.4811C8.20293 20.4893 8.18025 20.4924 8.15782 20.49C8.13538 20.4876 8.11385 20.4798 8.09504 20.4674ZM13 21.9375C11.8567 21.9387 10.7239 21.7193 9.66368 21.2916C9.62035 21.2737 9.58454 21.2413 9.56233 21.2001C9.54012 21.1588 9.53286 21.1111 9.5418 21.0651C9.56211 20.961 9.58446 20.866 9.60426 20.7868C9.96583 19.3431 10.8616 18.1462 12.1941 17.3245C13.3768 16.5958 14.8855 16.1947 16.4354 16.1947C18.0177 16.1947 19.4822 16.5796 20.6746 17.3073C20.7049 17.3263 20.7267 17.3563 20.7354 17.3911C20.744 17.4259 20.7388 17.4626 20.7208 17.4936C19.9345 18.8445 18.8078 19.9657 17.4531 20.7454C16.0984 21.5251 14.5631 21.9361 13 21.9375Z" fill="#292929" stroke="#292929" stroke-width="0.0625"/>
                        <path d="M11.2816 11.8853C11.2892 11.7762 11.2918 11.6685 11.2892 11.5613C11.2919 11.668 11.2894 11.776 11.2816 11.8853ZM5.37117 12.0448C5.50625 13.2128 6.19687 14.2096 7.10941 14.6915C6.19484 14.2096 5.50625 13.2107 5.37117 12.0448ZM12.9152 11.1211C12.9061 10.9897 12.903 10.8597 12.9061 10.7311C12.903 10.858 12.9061 10.988 12.9152 11.1211Z" fill="#292929"/>
                        <path d="M8.17531 14.9947C8.08202 14.9896 7.98911 14.979 7.89703 14.9632M5.76066 10.0806C5.86418 9.90583 5.98663 9.74303 6.12578 9.5951C6.33192 9.37518 6.57194 9.18969 6.83672 9.04565C6.96896 8.97337 7.10666 8.91157 7.24855 8.8608M11.2816 11.8853C11.2506 12.3034 11.1475 12.713 10.9769 13.096C10.8952 13.2803 10.7979 13.4574 10.6859 13.6251C10.4707 13.9504 10.1997 14.2352 9.88562 14.4665C9.80895 14.5234 9.72973 14.5742 9.64797 14.625C9.48717 14.7207 9.31701 14.7999 9.14016 14.8611M11.2816 11.8853C11.2892 11.7762 11.2918 11.6685 11.2892 11.5613C11.2919 11.668 11.2894 11.776 11.2816 11.8853ZM7.62738 14.9007C7.49313 14.862 7.36206 14.8129 7.23535 14.754M12.9152 11.1211C12.9786 12.092 13.3729 13.0118 14.0324 13.7272C14.3493 14.0703 14.7299 14.3483 15.1532 14.5458M12.9152 11.1211C12.9061 10.9897 12.903 10.8597 12.9061 10.7311C12.903 10.858 12.9061 10.988 12.9152 11.1211ZM15.4624 14.6666C15.3571 14.6309 15.2537 14.5897 15.1527 14.5432M12.996 9.98053C13.1242 9.38748 13.41 8.83997 13.8232 8.39564M19.9566 10.5422C19.908 9.74474 19.5851 8.98867 19.0425 8.40225C18.6737 8.00907 18.2163 7.70963 17.7085 7.52881M19.9566 11.1211C19.9175 11.6672 19.7762 12.2012 19.5402 12.6953M12.9061 10.7285C12.91 10.5389 12.928 10.3498 12.9599 10.1628M11.2877 11.5613C11.2789 10.8332 11 10.1343 10.5052 9.60018C10.0881 9.15489 9.54108 8.85275 8.94211 8.73689M5.35645 11.3978C5.38116 11.0355 5.47059 10.6805 5.62051 10.3497C5.6628 10.2576 5.70992 10.1677 5.76168 10.0806M5.37117 12.0448C5.50625 13.2128 6.19687 14.2096 7.10941 14.6915C6.19484 14.2096 5.50625 13.2107 5.37117 12.0448Z" stroke="#292929" stroke-width="0.0625"/>
                    </svg>
                    <p class="link_p">Заказы</p>
                </a>
                <a href="/chat" class="link">
                    <svg class="light_svg" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.85459 5.91539V7.45436L6.0195 7.60249C4.72201 7.70722 3.66363 8.68414 3.45554 9.96911C3.41031 10.2484 3.36918 10.5281 3.33215 10.8083C3.31377 10.9473 3.38791 11.0819 3.51466 11.1419L3.59814 11.1814C9.47924 13.9661 16.5216 13.9661 22.4027 11.1814L22.4862 11.1419C22.6129 11.0819 22.6871 10.9473 22.6687 10.8083C22.6317 10.5281 22.5905 10.2484 22.5453 9.96911C22.3372 8.68414 21.2788 7.70722 19.9813 7.60249L18.1463 7.45436V5.91539C18.1463 4.97696 17.4597 4.17974 16.5317 4.04053L15.2101 3.84229C13.7452 3.62256 12.2557 3.62256 10.7908 3.84229L9.4692 4.04053C8.54115 4.17974 7.85459 4.97696 7.85459 5.91539ZM14.969 5.44931C13.6639 5.25355 12.3369 5.25355 11.0318 5.44931L9.71025 5.64755C9.57767 5.66744 9.47959 5.78133 9.47959 5.91539V7.33998C11.8249 7.20563 14.176 7.20563 16.5213 7.33999V5.91539C16.5213 5.78133 16.4232 5.66744 16.2906 5.64755L14.969 5.44931Z" fill="#F3F7F6"/>
                        <path d="M22.8786 13.0759C22.8705 12.9241 22.7116 12.8293 22.5726 12.8908C16.5374 15.563 9.46339 15.563 3.42822 12.8908C3.28923 12.8293 3.13032 12.9241 3.12224 13.0759C3.01199 15.1466 3.12309 17.2262 3.45554 19.2791C3.66363 20.564 4.72201 21.541 6.0195 21.6457L8.04741 21.8094C11.3441 22.0755 14.6568 22.0755 17.9534 21.8094L19.9813 21.6457C21.2788 21.541 22.3372 20.564 22.5453 19.2791C22.8777 17.2262 22.9888 15.1466 22.8786 13.0759Z" fill="#F3F7F6"/>
                    </svg>
                    <svg class="dark_svg" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.85459 5.91539V7.45436L6.0195 7.60249C4.72201 7.70722 3.66363 8.68414 3.45554 9.96911C3.41031 10.2484 3.36918 10.5281 3.33215 10.8083C3.31377 10.9473 3.38791 11.0819 3.51466 11.1419L3.59814 11.1814C9.47924 13.9661 16.5216 13.9661 22.4027 11.1814L22.4862 11.1419C22.6129 11.0819 22.6871 10.9473 22.6687 10.8083C22.6317 10.5281 22.5905 10.2484 22.5453 9.96911C22.3372 8.68414 21.2788 7.70722 19.9813 7.60249L18.1463 7.45436V5.91539C18.1463 4.97696 17.4597 4.17974 16.5317 4.04053L15.2101 3.84229C13.7452 3.62256 12.2557 3.62256 10.7908 3.84229L9.4692 4.04053C8.54115 4.17974 7.85459 4.97696 7.85459 5.91539ZM14.969 5.44931C13.6639 5.25355 12.3369 5.25355 11.0318 5.44931L9.71025 5.64755C9.57767 5.66744 9.47959 5.78133 9.47959 5.91539V7.33998C11.8249 7.20563 14.176 7.20563 16.5213 7.33999V5.91539C16.5213 5.78133 16.4232 5.66744 16.2906 5.64755L14.969 5.44931Z" fill="#292929"/>
                        <path d="M22.8786 13.0759C22.8705 12.9241 22.7116 12.8293 22.5726 12.8908C16.5374 15.563 9.46339 15.563 3.42822 12.8908C3.28923 12.8293 3.13032 12.9241 3.12224 13.0759C3.01199 15.1466 3.12309 17.2262 3.45554 19.2791C3.66363 20.564 4.72201 21.541 6.0195 21.6457L8.04741 21.8094C11.3441 22.0755 14.6568 22.0755 17.9534 21.8094L19.9813 21.6457C21.2788 21.541 22.3372 20.564 22.5453 19.2791C22.8777 17.2262 22.9888 15.1466 22.8786 13.0759Z" fill="#292929"/>
                    </svg>
                    <p class="link_p">Сообщения</p>
                </a>
                <a href="/settings" class="link">
                    <svg class="light_svg" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.0003 23.8334C15.9918 23.8334 18.7002 22.6208 20.6606 20.6604C22.6211 18.6999 23.8337 15.9916 23.8337 13.0001C23.8337 10.0086 22.6211 7.30023 20.6606 5.33976C18.7002 3.37931 15.9918 2.16675 13.0003 2.16675C10.0088 2.16675 7.30047 3.37931 5.34 5.33976C3.37956 7.30023 2.16699 10.0086 2.16699 13.0001C2.16699 15.9916 3.37956 18.6999 5.34 20.6604C7.30047 22.6208 10.0088 23.8334 13.0003 23.8334Z" fill="#F3F7F6"/>
                        <path d="M8.66699 13L11.917 16.25L18.417 9.75" stroke="#393939" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <svg class="dark_svg" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.0003 23.8334C15.9918 23.8334 18.7002 22.6208 20.6606 20.6604C22.6211 18.6999 23.8337 15.9916 23.8337 13.0001C23.8337 10.0086 22.6211 7.30023 20.6606 5.33976C18.7002 3.37931 15.9918 2.16675 13.0003 2.16675C10.0088 2.16675 7.30047 3.37931 5.34 5.33976C3.37956 7.30023 2.16699 10.0086 2.16699 13.0001C2.16699 15.9916 3.37956 18.6999 5.34 20.6604C7.30047 22.6208 10.0088 23.8334 13.0003 23.8334Z" fill="#292929"/>
                        <path d="M8.66699 13L11.917 16.25L18.417 9.75" stroke="#F3F7F6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="link_p">Настройки</p>
                </a>
                <a href="/#platform" class="link">
                    <svg class="light_svg" width="26" height="15" viewBox="0 0 26 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.000272751 14.7136L13.6037 8.96454e-05H14.3877V14.7136H12.0981V5.23157L3.92348 14.7136H0.000272751Z" fill="white"/>
                        <rect x="17.165" y="2.9436" width="2.45221" height="3.43316" fill="#FA51A2"/>
                        <rect x="23.543" y="2.9436" width="2.45221" height="3.43316" fill="#A609F0"/>
                        <rect x="17.165" y="11.282" width="2.45221" height="3.43316" fill="#7B46F8"/>
                        <rect x="23.5469" y="11.282" width="2.45221" height="3.43316" fill="#BDF522"/>
                    </svg>
                    <svg class="dark_svg" width="26" height="15" viewBox="0 0 26 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.000272751 14.7136L13.6037 8.96454e-05H14.3877V14.7136H12.0981V5.23157L3.92348 14.7136H0.000272751Z" fill="#292929"/>
                        <rect x="17.165" y="2.9436" width="2.45221" height="3.43316" fill="#FA51A2"/>
                        <rect x="23.543" y="2.9436" width="2.45221" height="3.43316" fill="#A609F0"/>
                        <rect x="17.165" y="11.282" width="2.45221" height="3.43316" fill="#7B46F8"/>
                        <rect x="23.5469" y="11.282" width="2.45221" height="3.43316" fill="#7BA016"/>
                    </svg>
                    <p class="link_p">О платформе</p>
                </a>
            </div>
            <svg style="opacity: 0;" width="53" height="30" viewBox="0 0 116 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M-0.000152588 65.653L60.7073 1.52588e-05H64.2061V65.653H53.9886V23.3433L17.5078 65.653H-0.000152588Z" fill="white"/>
                <rect x="76.6035" y="13.1301" width="10.9434" height="15.3191" fill="#FA51A2"/>
                <rect x="105.049" y="13.1301" width="10.9434" height="15.3191" fill="#A609F0"/>
                <rect x="76.6001" y="50.3345" width="10.9434" height="15.3191" fill="#7B46F8"/>
                <rect x="105.057" y="50.3345" width="10.9434" height="15.3191" fill="#7BA016"/>
            </svg>
        </nav>
        <section class="main_content">
            <header>
                <form action="/works/search" method="GET" class="search-form">
                    <input type="text" name="q" placeholder="Поиск" class="search-form-input">
                    <button type="submit" class="search-form-btn">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9873 12.8717C9.77878 14.6406 6.54592 14.5014 4.4986 12.454C2.3019 10.2573 2.3019 6.69579 4.4986 4.49909C6.6953 2.30239 10.2569 2.30239 12.4535 4.49909C14.5009 6.5464 14.6401 9.77926 12.8712 11.9878L17.1676 16.2842C17.4117 16.5283 17.4117 16.924 17.1676 17.1681C16.9235 17.4121 16.5278 17.4121 16.2837 17.1681L11.9873 12.8717ZM5.38248 11.5702C3.67394 9.86161 3.67394 7.09151 5.38248 5.38297C7.09103 3.67443 9.86112 3.67443 11.5697 5.38297C13.277 7.09026 13.2782 9.85754 11.5734 11.5664C11.5722 11.5676 11.5709 11.5689 11.5697 11.5701C11.5684 11.5714 11.5672 11.5726 11.5659 11.5739C9.85706 13.2787 7.08977 13.2774 5.38248 11.5702Z" fill="#393939" stroke="#393939" stroke-width="0.5" stroke-linecap="round"/>
                        </svg>
                    </button>
                </form>
<% if (currentUser) { %>
                <div class="cont1">
                    <a class="header_link" href="/lenta">
                        Услуги
                    </a>
                    <a class="header_link" href="/orders">
                        Заказы
                    </a>
                    <a class="header_link" href="/settings">
                        Настройки
                    </a>
                    <a class="header_link" href="/profile">
                        Портфолио
                    </a>
                    <a class="header_link" href="/chat">
                        Сообщения
                    </a>
                    <a href="/chat" class="header_linkk">
                        <p class="link_p">Сообщения</p>
                    </a>
                </div>
                <div class="cont2">
                    <div class="count">
                        <p><%= Number(currentUser.total_balance || 0).toLocaleString('ru-RU') %></p>
                        <div class="rubl">
                           <p> ₽</p>
                        </div>
                    </div>
                    <div class="notific">
                        <svg class="header_us_not" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 1C12.3137 1 15 3.68624 15 6.99995C15 8.9131 15 10.8341 15 12C15 15 17 16 17 16L1 16C1 16 3 15 3 12C3 10.8341 3 8.9131 3 6.99995C3 3.68624 5.68629 1 9 1Z" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 16C7 17.1046 7.89543 18 9 18C10.1046 18 11 17.1046 11 16" fill="#393939"/>
                            <path d="M7 16C7 17.1046 7.89543 18 9 18C10.1046 18 11 17.1046 11 16" stroke="#393939" stroke-linecap="round"/>
                        </svg>
                        <span class="notific-badge"><%= currentUser.unread_notifications_count || 0 %></span>
                        <div class="dropdown dropdown-notific">
                            <div class="notif_under">
                                <h2>Новые</h2>
                                <div class="stroke_notific">
                                    <div class="warning-notific">
                                        <h3>Ваш проект <span>SPRINNT</span> был удален</h3>
                                        <p>Причина:<span class="p-reason">Неприемлемое содержание</span></p>
                                        <div class="data-time">
                                            <p>10.03.2026</p>
                                            <p>12:30</p>
                                        </div>
                                    </div>
                                    <div class="published-notific">
                                        <h3>Ваш проект <span>SPRINNT</span> был опубликован</h3>
                                        <p>Ваш проект был одобрен и опубликован</p>
                                        <div class="data-time">
                                            <p>10.03.2026</p>
                                            <p>12:30</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="notif_under">
                                <h2>Просмотрено</h2>
                                <div class="stroke_notific">
                                    <div class="warning-notific">
                                        <h3>Ваш проект <span>SPRINNT</span> был удален</h3>
                                        <p>Причина:<span class="p-reason">Неприемлемое содержание</span></p>
                                        <div class="data-time">
                                            <p>10.03.2026</p>
                                            <p>12:30</p>
                                        </div>
                                    </div>
                                    <div class="published-notific">
                                        <h3>Ваш проект <span>SPRINNT</span> был опубликован</h3>
                                        <p>Ваш проект был одобрен и опубликован</p>
                                        <div class="data-time">
                                            <p>10.03.2026</p>
                                            <p>12:30</p>
                                        </div>
                                    </div>
                                    <div class="admin-notific">
                                        <h3><span>Ваш пароль</span> был успешно изменен</h3>
                                        <div class="data-time">
                                            <p>10.03.2026</p>
                                            <p>12:30</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user">
                        <div class="user-img-nav">
                            <svg class="header_us_not" width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.61621 14.4033H11.3838C15.3137 14.4034 18.4998 17.5895 18.5 21.5195V21.6602C16.1165 23.4037 13.1808 24.4336 10 24.4336C6.81935 24.4336 3.88335 23.4033 1.5 21.6602V21.5195C1.50018 17.5894 4.68628 14.4033 8.61621 14.4033Z" stroke="#393939" stroke-width="3"/>
                                <path d="M10.001 1.5C12.0926 1.5 13.7889 3.19552 13.7891 5.28711C13.7891 7.37881 12.0927 9.0752 10.001 9.0752C7.90939 9.07506 6.21387 7.37873 6.21387 5.28711C6.214 3.19561 7.90947 1.50014 10.001 1.5Z" stroke="#393939" stroke-width="3"/>
                            </svg>
                        </div>
                        <svg  class="arrow_user" width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.75 3.33594L4.45711 1.04304C4.06658 0.65252 3.43342 0.65252 3.04289 1.04304L0.75 3.33594" stroke="#393939" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>

                        <div class="dropdown dropdown-user">
                            <div class="dropdown-user-avatar">
                                <div class="users">
                                    <div class="users-img-dropdown">
                                        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M35.0033 68.8394C53.6933 68.8394 68.8445 53.6881 68.8445 34.9982C68.8445 16.3082 53.6933 1.15698 35.0033 1.15698C16.3133 1.15698 1.16211 16.3082 1.16211 34.9982C1.16211 53.6881 16.3133 68.8394 35.0033 68.8394Z" fill="#393939"/>
                                            <path d="M56.2597 59.4595V61.332C50.4497 66.03 43.0535 68.8435 34.9996 68.8435C26.9464 68.8435 19.5494 66.03 13.7402 61.3336V59.4594C13.7402 49.3428 21.9414 41.1409 32.058 41.1409H37.942C48.0586 41.141 56.2597 49.343 56.2597 59.4595Z" fill="#F3F7F6"/>
                                            <path d="M35.0064 36.1928C41.2145 36.1928 46.2472 31.1601 46.2472 24.952C46.2472 18.7439 41.2145 13.7112 35.0064 13.7112C28.7983 13.7112 23.7656 18.7439 23.7656 24.952C23.7656 31.1601 28.7983 36.1928 35.0064 36.1928Z" fill="#F3F7F6"/>
                                            <path d="M35 70C30.2756 70 25.6917 69.0745 21.3761 67.2491C17.2081 65.4862 13.4652 62.9628 10.2512 59.7488C7.03729 56.5348 4.51384 52.7919 2.7509 48.624C0.925511 44.3083 0 39.7245 0 35C0 30.2756 0.925511 25.6918 2.7509 21.3761C4.51384 17.2081 7.03729 13.4652 10.2512 10.2512C13.4652 7.0372 17.2081 4.51376 21.3761 2.75091C25.6917 0.925514 30.2756 0 35 0C39.7245 0 44.3082 0.925514 48.6239 2.75091C52.7919 4.51376 56.5348 7.0372 59.7488 10.2512C62.9627 13.4652 65.4861 17.2081 67.2491 21.3761C69.0745 25.6917 70 30.2756 70 35C70 39.7245 69.0745 44.3082 67.2491 48.624C65.4861 52.7919 62.9627 56.5349 59.7488 59.7488C56.5348 62.9628 52.7919 65.4862 48.6239 67.2491C44.3082 69.0744 39.7246 70 35 70ZM35 2.31754C30.5874 2.31754 26.3073 3.18149 22.2789 4.8854C18.3872 6.53142 14.8918 8.88815 11.89 11.8899C8.88807 14.8918 6.53142 18.3872 4.8854 22.2788C3.1815 26.3073 2.31754 30.5873 2.31754 35C2.31754 39.4126 3.1815 43.6926 4.8854 47.721C6.53142 51.6128 8.88807 55.108 11.89 58.1099C14.8919 61.1118 18.3872 63.4684 22.2789 65.1144C26.3073 66.8183 30.5874 67.6823 35 67.6823C39.4126 67.6823 43.6926 66.8183 47.7212 65.1144C51.6128 63.4684 55.1082 61.1117 58.11 58.1099C61.1119 55.108 63.4686 51.6127 65.1146 47.721C66.8185 43.6926 67.6824 39.4126 67.6824 35C67.6824 30.5874 66.8185 26.3073 65.1146 22.2788C63.4686 18.3871 61.1119 14.8918 58.11 11.8899C55.1081 8.88807 51.6128 6.53142 47.7212 4.8854C43.6926 3.18149 39.4126 2.31754 35 2.31754Z" fill="#393939"/>
                                        </svg>
                                    </div>
                                    <h3 class="user-name"><%= [currentUser.first_name, currentUser.last_name].filter(Boolean).join(' ') || currentUser.email %></h3>
                                    <p class="user-email"><%= currentUser.email %></p>
                                </div>
                                <div class="switch">
                                    <input type="radio" name="userType" id="freelance" checked>
                                    <input type="radio" name="userType" id="customer">
                                    <div class="active-bg"></div>
                                    <label for="freelance">Я исполнитель</label>
                                    <label for="customer">Я заказчик</label>
                                </div>
                                <div class="user-link">
                                    <a href="/profile" class="u-link">
                                        Профиль
                                    </a>
                                    <a href="/settings" class="u-link">
                                        Настройки
                                    </a>
                                    <a href="mailto:support@liniti.ru" class="u-link">
                                        Поддержка
                                    </a>
                                </div>
                            </div>
                            <div class="exit">
                                <div class="exit-btn">
                                   <svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="27" height="28" rx="13.5" fill="#F2F2F2"/>
                                        <path d="M11.5545 18.3139C11.5545 17.9932 11.8231 17.7332 12.1545 17.7332H16.9545C17.0649 17.7332 17.1545 17.6466 17.1545 17.5397L17.1545 8.24937C17.1545 8.14248 17.0649 8.05582 16.9545 8.05582L12.1545 8.05582C11.8231 8.05582 11.5545 7.79586 11.5545 7.47518C11.5545 7.1545 11.8231 6.89453 12.1545 6.89453H16.9545C17.7277 6.89453 18.3545 7.50111 18.3545 8.24937V17.5397C18.3545 18.2879 17.7277 18.8945 16.9545 18.8945H12.1545C11.8231 18.8945 11.5545 18.6346 11.5545 18.3139Z" fill="#393939"/>
                                        <path d="M5.35449 13.7579C5.35449 14.1855 5.71266 14.5321 6.15449 14.5321H10.0393C10.0576 14.8073 10.0806 15.0822 10.1082 15.3569L10.1319 15.5931C10.1705 15.9773 10.5921 16.2074 10.9517 16.0406C12.4141 15.3624 13.7379 14.4343 14.8596 13.301L14.8835 13.2768C15.0972 13.0609 15.0972 12.7204 14.8835 12.5045L14.8596 12.4803C13.7379 11.3469 12.4141 10.4189 10.9517 9.74066C10.5921 9.57384 10.1705 9.80392 10.1319 10.1881L10.1082 10.4244C10.0806 10.699 10.0576 10.974 10.0393 11.2491L6.15449 11.2491C5.71267 11.2491 5.35449 11.5958 5.35449 12.0233V13.7579Z" fill="#393939"/>
                                    </svg>
                                    <form action="/logout" method="post" class="logout-form">
                                       <input type="hidden" name="csrf_token" value="<%= typeof csrfToken !== 'undefined' ? csrfToken : '' %>">
                                       <button type="submit" class="link-exit">Выход</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<% } else { %>
<div class="cont2">
    <a class="header_link" href="/auth">Авторизация</a>
    <a class="header_link" href="/auth?mode=register">Регистрация</a>
</div>
<% } %>
</header>
